*{margin: 0;padding: 0;box-sizing: border-box; font-family: 'Mulish', sans-serif;}

a{color: white; text-decoration: none;}
body{
  background: #888888;
}
h1{
  padding-top: 5px;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to bottom, #615cfd 0%, #d465ef 100%);
}
.book{
  position: relative;
  min-height: 100vh;
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  background: url("pic111.jpg");
  background-size: cover;
}

.book .con p{
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 28px;
  margin-top: 10px;
}
.container {
  background-color: #fafafa;
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
  display: grid;
  grid-template-columns: 40% 60%;
}
.container-time {
  background: linear-gradient(to bottom, #615cfd 0%, #d465ef 100%);
  padding: 50px;
  outline: 3px dashed #ffffff;
  outline-offset: -30px;
  text-align: center;
  color: white;
}
.heading {
  font-size: 35px;
  text-transform: uppercase;
  margin-top: 10px;
}

.heading-days {
  color:#ffffff;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.heading-phone {
  font-size: 20px;
  margin-top: 20px;
}
.container-form {
  padding: 20px 0;
  margin: 0 auto;
  color: #333333;
}
form {
  display: grid;
  grid-row-gap: 20px;
}
form p {
  font-weight: 600;
}
.form-field {
  display: flex;
  justify-content: space-between;
}

input,select {
  padding: 10px 15px;
}
.btn {
  background-color: #d465ef;
  padding: 12px 26px;
  font-style: 14px;
  font-weight: 500;
  border: none;
  color: white;
  font-size: large;
  text-transform: capitalize;
}

.btn:hover {
background: linear-gradient(to bottom, #615cfd 0%, #d465ef 100%);
}
